{% extends 'base.html.twig' %}

{% block title %}Artist index{% endblock %}

{% block body %}
    <h1>Artist index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Thumbnail</th>
                <th>Biography</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artist in artists %}
            <tr>
                <td>{{ artist.id }}</td>
                <td>{{ artist.name }}</td>
                <td><img src=" {{ artist.thumbnail }} " width="200px"></td>
                <td>{{ artist.biography }}</td>
                <td>
                    </br><a href="{{ path('app_artist_show', {'id': artist.id}) }}"><i class="fa-solid fa-eye fa-xl"></i></a></br></br>
                    <a href="{{ path('app_artist_edit', {'id': artist.id}) }}"><i class="fa-solid fa-pen-to-square fa-xl"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_artist_new') }}">Create new</a>
{% endblock %}
